<div class="mdl-grid" ng-controller="AnalyticsCtrl as ac">
  <div ng-if="ac.activeKeywordList.length !== 0" class="mdl-cell mdl-cell--3-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card mdl-card--width--full mdl-shadow--3dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Select keyword</h2>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <ul class="mdl-list">
          <li class="mdl-list__item"  ng-repeat="keyword in ac.activeKeywordList track by $index">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons  mdl-list__item-icon">hearing</i>
              {{keyword.keyword}}
            </span>
            <span class="mdl-list__item-secondary-action">
              <label class="bm-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-{{keyword.keywordId}}">
                <input type="radio" id="list-option-{{keyword.keywordId}}" class="mdl-radio__button" name="options" value="{{keyword.keywordId}}" ng-click="ac.getAnalytics(keyword.keywordId)"/>
              </label>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-if="ac.activeKeywordList.length === 0" class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card mdl-card--width--full mdl-card--image--SignUp mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text mdl-color-text--white">Welcome</h2>
      </div>
      <div class="mdl-card__supporting-text">To see what other people say about your brand, first you have to add your brand</div>
      <div class="mdl-card__actions mdl-card--border">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ui-sref="home.keywords">Get started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--margin mdl-cell--9-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div ng-if="ac.show" class="mdl-grid mdl-grid--padding">
      <div class="mdl-cell mdl-cell--margin mdl-cell--6-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-card--width--full mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Top 5 users mentions</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
          <canvas id="doughnut" class="chart chart-doughnut" chart-data="ac.columnsData.users" chart-labels="ac.columns.users"></canvas>
          </div>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--margin--top mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card mdl-card--width--full mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Top 5 countries mentions</h2>
          </div>
          <div class="mdl-card__actions mdl-card--border">
          <canvas id="pie" class="chart chart-pie" chart-data="ac.columnsData.countries" chart-labels="ac.columns.countries" chart-options="options"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>