@(user: models.entities.UserDetails)
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--transparent layout-transparent">
    <div class="mdl-layout__header-row">
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-layout-title mdl-navigation__link logo-text logo-text--size mdl-color-text--white" href="@routes.HomeController.indexLogIn()">BRANDMEDIA</a>
    </div>
</header>
    <div class="bm-drawer mdl-layout__drawer mdl-color-text--blue-grey-50">
        <header class="bm-drawer-header">
            <div class="bm-avatar-dropdown">
                <span>@user.name @user.surname</span>
                <div class="mdl-layout-spacer"></div>
                <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_drop_down</i>
                    <span class="visuallyhidden">Accounts</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn" ng-controller="SettingsCtrl as sc">
                    <li class="mdl-menu__item"><i class="material-icons">power_settings_new</i><a class="mdl-navigation__link mdl-color-text--black" ng-click="sc.logout()">&nbsp;LOG OUT</a></li>
                </ul>
            </div>
        </header>
        <nav class="bm-navigation mdl-navigation">
            <hr>
            <a class="mdl-navigation__link mdl-color-text--white" ui-sref=".keywords"><i class="mdl-color-text--white material-icons" role="presentation">playlist_add</i>Brands</a>
            <a class="mdl-navigation__link mdl-color-text--white" ui-sref=".mentions"><i class="mdl-color-text--white material-icons" role="presentation">message</i>Mentions</a>
            <a class="mdl-navigation__link mdl-color-text--white" ui-sref=".analytics"><i class="mdl-color-text--white material-icons" role="presentation">info</i>Analytics</a>
        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--white">
        <div ui-view="content"> </div>
    </main>
</div>