<div class="mdl-grid" ng-controller="KeywordsCtrl as kc">
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card mdl-card--width--full mdl-shadow--3dp">
            <div class="mdl-card__supporting-text">
                <form id="keywordsForm" name="keywordsForm" class="mdl-grid">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col-desktop mdl-cell--5-col-tablet mdl-cell--3-col-phone">
                        <input class="mdl-textfield__input mdl-textfield__input--border_white" type="text" id="keyword" name="keyword" ng-model="kc.keyword">
                        <label class="mdl-textfield__label mdl-textfield__label--border_white" for="keyword">Enter a new keyword</label>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--primary" type="submit" ng-click="kc.addKeyword()">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <ul class="mdl-list">
                    <li class="mdl-list__item" ng-repeat="keyword in kc.keywordList track by $index">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons  mdl-list__item-icon">hearing</i>
                            {{keyword.keyword}}
                        </span>
                        <span class="mdl-list__item-secondary-action">
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="keyword-{{keyword.id}}">
                                <input type="checkbox" id="keyword-{{keyword.id}}"  ng-model="keyword.active" ng-true-value="1" ng-false-value="0" ng-checked="keyword.active == 1" class="mdl-switch__input" ng-change="kc.changeStatus(keyword)" />
                            </label>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

