<div class="mdl-grid" ng-controller="MentionsCtrl as mc">
    <div ng-if="mc.activeKeywordList.length !== 0" class="mdl-cell mdl-cell--3-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone" >
        <div class="mdl-card mdl-card--width--full mdl-shadow--3dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Select keyword</h2>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <ul class="mdl-list">
                    <li class="mdl-list__item"  ng-repeat="keyword in mc.activeKeywordList track by $index">
                        <span class="mdl-list__item-primary-content"><i class="material-icons  mdl-list__item-icon">hearing</i>{{keyword.keyword}}</span>
                        <span class="mdl-list__item-secondary-action">
                            <label class="bm-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-{{keyword.keywordId}}">
                                <input type="radio" id="list-option-{{keyword.keywordId}}" class="mdl-radio__button" name="options" value="{{keyword.keywordId}}" ng-click="mc.getMentions(keyword)"  />
                            </label>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-if="mc.activeKeywordList.length === 0" class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card mdl-card--width--full mdl-card--image--SignUp mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text mdl-color-text--white">Welcome</h2>
            </div>
            <div class="mdl-card__supporting-text">To see what other people say about your brand, first you have to add your brand</div>
            <div class="mdl-card__actions mdl-card--border">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ui-sref="home.keywords">Get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <div class="mdl-cell mdl-cell--9-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <div ng-if="mc.show" class="mdl-card mdl-card--width--full mdl-shadow--2dp">
         <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">What people say about your brand</h2>
         </div>
         <div class="mdl-card__actions mdl-card--border">
            <ul class="mdl-list">
                <h4 ng-if="mc.mentionList.length === 0" class="">Nothing yet :(</h4>
               <li class="mdl-list__item mdl-list__item--three-line" dir-paginate="mention in mc.mentionList | itemsPerPage: mc.pageSize track by $index" current-page="mc.currentPage">
                  <div class="mdl-cell mdl-cell--10-col">
                      <span class="mdl-list__item-primary-content">
                          <img ng-src="{{mention.userImage}}" class="mention__avatar">
                          <span><b>{{mention.userName}}</b> @@{{mention.userUsername}}</span>
                          <span class="mdl-list__item-text-body" ng-bind-html="mc.highlight(mention.text)"></span>
                      </span>
                  </div>
                   <div class="mdl-cell mdl-cell--2-col">
                       <span class="mdl-list__item-secondary-content">
                           <span class="mdl-list__item-secondary-info" am-time-ago="mention.created"></span>
                       </span>
                  </div>
               </li>
            </ul>
         </div>
          <div class="mdl-card__actions mdl-card--border">
              <div class="mdl-grid">
                  <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
                      <dir-pagination-controls boundary-links="true" on-page-change="mc.pageChange(newPageNumber)"></dir-pagination-controls>
                  </div>
              </div>
          </div>
      </div>
   </div>
</div>

