@(user: models.entities.User, userDetails: models.entities.UserDetails)
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <form id="settings" name="settings" novalidate>
            <div class="mdl-card mdl-card--width--full mdl-card--image--SignUp mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text mdl-color-text--white">Settings</h2>
                </div>
                <div class="mdl-card__supporting-text">

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col-desktop mdl-cell--1-offset-desktop
                         mdl-cell--10-col-tablet mdl-cell--1-offset-tablet mdl-cell--10-col-phone" ng-class="{'is-invalid is-dirty' : settings.$submitted && settings.sc.user.firstname.$error.required}">
                            <input class="mdl-textfield__input" type="text" id="settings_name" name="settings_name" ng-model="sc.user.firstname" ng-init="sc.user.firstname='@userDetails.name'" required>
                            <label class="mdl-textfield__label" for="settings_name">Name</label>
                            <span class="mdl-textfield__error">Name is required!</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col-desktop mdl-cell--10-col-tablet mdl-cell--1-offset-tablet mdl-cell--10-col-phone"
                        ng-class="{'is-invalid is-dirty' : settings.$submitted && settings.sc.user.lastname.$error.required}">
                            <input class="mdl-textfield__input" type="text" id="settings_surname" name="settings_surname" ng-model="sc.user.lastname" ng-init="sc.user.lastname='@userDetails.surname'" required>
                            <label class="mdl-textfield__label" for="settings_surname">Surname</label>
                            <span class="mdl-textfield__error">Surname is required!</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--10-col-desktop mdl-cell--1-offset-desktop mdl-cell--10-col-tablet mdl-cell--1-offset-tablet mdl-cell--10-col-phone">
                            <input class="mdl-textfield__input" type="text" id="settings_email" readonly="true" ng-model="sc.user.email" ng-init="sc.user.email='@user.email'">
                            <label class="mdl-textfield__label" for="settings_email">Email</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col-desktop mdl-cell--1-offset-desktop mdl-cell--10-col-tablet  mdl-cell--1-offset-tablet mdl-cell--10-col-phone"
                        ng-class="{'is-invalid is-dirty' : settings.$submitted && settings.sc.user.oldPassword.$error.required && sc.user.oldPassword!==''}">
                            <input class="mdl-textfield__input" type="password" id="settings_password" ng-model="sc.user.oldPassword" ng-init="sc.user.oldPassword=''" required>
                            <label class="mdl-textfield__label" for="settings_password">Old password</label>
                            <span class="mdl-textfield__error">Old password is required!</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col-desktop mdl-cell--10-col-tablet  mdl-cell--1-offset-tablet mdl-cell--10-col-phone"
                        ng-class="{'is-invalid is-dirty' : settings.$submitted && settings.sc.user.newPassword.$error.required && sc.user.newPassword!=''}">
                            <input class="mdl-textfield__input" type="password" id="settings_rPassword" ng-model="sc.user.newPassword"  ng-init="sc.user.newPassword=''" required>
                            <label class="mdl-textfield__label" for="settings_rPassword">New password</label>
                            <span class="mdl-textfield__error">New password is required!</span>
                        </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--9-offset-desktop mdl-cell--2-col-tablet mdl-cell--6-offset-tablet mdl-cell--2-col-phone mdl-cell--2-offset-phone ">
                            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" ng-click="sc.settings(settings.$valid)">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

