@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link defer rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link  rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue-deep_orange.min.css" >
        <link  rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")" >
        <link defer rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("bower_components/c3/c3.min.css")">
    </head>
    <body ng-app="brandmedia">
        @content
        <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
        <link defer rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
        <script defer src="@routes.Assets.versioned("bower_components/c3/c3.min.js")"></script>
        <script defer src="@routes.Assets.versioned("bower_components/d3/d3.min.js")"></script>
        <script defer src="@routes.Assets.versioned("bower_components/angular/angular.min.js")"></script>
        <script defer src="@routes.Assets.versioned("bower_components/angular-resource/angular-resource.min.js")"></script>
        <script defer src="@routes.Assets.versioned("bower_components/angular-ui-router/release/angular-ui-router.min.js")"></script>
        <script defer src="@routes.Assets.versioned("bower_components/angularUtils-pagination/dirPagination.js")"></script>
        <script defer src="@routes.Assets.versioned("bower_components/a0-angular-storage/dist/angular-storage.min.js")"></script>
        <script defer src="@routes.Assets.versioned("bower_components/angular-jwt/dist/angular-jwt.min.js")"></script>
        <script defer src="@routes.Assets.versioned("bower_components/c3-angular/c3-angular.min.js")"></script>
        <script defer src="@routes.Assets.versioned("javascripts/app.js")"></script>
        <script defer src="@routes.Assets.versioned("javascripts/components/JWT/token.controller.js")"></script>
        <script defer src="@routes.Assets.versioned("javascripts/components/home/home.controller.js")"></script>
        <script defer src="@routes.Assets.versioned("javascripts/components/http-interceptor/jwtInterceptor-services.js")"></script>
        <script defer src="@routes.Assets.versioned("javascripts/components/http-interceptor/interceptor-services.js")"></script>
    </body>
</html>
